.title {
    text-align: center;
    color: rgb(2, 128, 255);
}

.aside1 {
    float: left;
    width: 10px;
    margin: 20px;
}

.theHead {
    background-color: black;
    color: whitesmoke;
}

.theHead a{
    text-decoration: none;
    color: rgb(2, 128, 255);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0px 10px;
}

.theHead ul li a:hover{
    text-decoration: underline blue;
}

nav > ul > li {
    display: inline-block;
    margin: 10px;
    margin-top: 0px;
    font-size: 20px;
}